.products_modal--open {
    position: fixed;

    z-index: 100;
    top: 100px;
    left: 300px;

    text-align: center;
    background-color: #ffffff;
    color: #000000;
    width: 800px;
    height: fit-content;

    border-radius: 10px;
}
.products_modal--close {
    display: none;
}

.products_modal_content {
    padding: 10px;
    
}
.products_modal_btn {
    display: flex;
    flex-direction: row-reverse;
}
.products_modal_btn button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
}
.products_modal_inner {

}
.products_modal_img {
    width: 100px;
    height: 120px;
}
.products_modal_count--yes {
    color: green;
}
.products_modal_count--no {
    color: red;
}
.products_modal_btns {
    text-align: end;
    margin: 10px 20px 10px 0;
}
.products_modal_btns button {
    font-size: 15px;
    border: none;
    background-color: #000000;
    color: #ffffff;

    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}